# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true
quote_type = double
trim_trailing_whitespace = true

[*.{css,html,scss,svg}]
indent_size = 4
indent_style = tab

[*.{js,ts}]
indent_size = 4
indent_style = tab
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
