{
  "printWidth": 200,
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "css"
}
