@import "../../easy-framework/src/lib/core/sass/functions";
@import "../../easy-framework/src/lib/core/sass/mixins";
@import "../../easy-framework/src/lib/core/sass/variables";

.attribute {
	color: color(blue);
}

.box {
	border: rem(1) solid color(black);
	margin: space(sm);
	padding: 0;

	&.col {
		height: rem(400);

		& * {
			width: 100%;
		}
	}

	p {
		background-color: color(blue);
		color: color(white);
		text-align: center;

		&:nth-child(even) {
			background-color: color(green);
		}

		&[class*="pad"] {
			display: inline-block;
			margin: 0 space(sm);
		}
	}
}

.pos-fixed-l {
    top: rem(164);
    width: rem(180);
}

.flexbox {
	align-items: flex-start;
	display: flex;
    flex-wrap: wrap;
	justify-content: flex-start;

	ul {
		border: rem(1) solid color(black);
		margin: rem(6);

		&[class*="col"] {
			height: rem(250);
			width: rem(150);

			&[class*="wrap"] {
				width: rem(300);
			}
		}

		&.col-full {
			height: rem(300);
		}

		&[class*="row"] {
			height: rem(150);

			&[class*="wrap"] {
				height: rem(300);
			}
		}

		&.row {
			width: rem(250);
		}

		li {
			align-items: center;
			background-color: color(blue);
			color: color(white);
            display: flex;
			justify-content: center;
			min-height: rem(100);
			min-width: rem(120);

			&:nth-child(even) {
				background-color: color(green);
				min-height: rem(75);
				min-width: rem(100);
			}
		}
	}
}

.grid {
	border: rem(1) solid color(black);

	&:not(:last-of-type) {
		margin-bottom: rem(16);
	}

	&.h-50 {
		height: rem(50);
	}

	li {
		background-color: color(blue);
		color: color(white);

		&:nth-child(even) {
			background-color: color(green);
		}
	}
}

.main {
	margin-left: rem(220);
    padding-top: rem(100);

    code {
        color: color(purple);
    }
}

.tag {
	color: color(red);
	font-weight: normal;
}

.value {
	color: color(green);
}
