<nav class="pad-a-sm border-a-gray shadow-1 fixed-l styleguide-menu">
	<ul>
		{{#each menu}}
		<li>
			<a (click)="onClick('{{name}}')" [ngClass]="{'bg-lt-gray': checkSection('{{name}}')}" class="hover bg-hover-lt-gray pad-a-xs">{{name}}</a>
			<ul *ngIf="checkSection('{{name}}')" class="pad-l-sm submenu">
				{{#each headings}}
				<li *ngIf="'{{name}}'"><a>{{name}}</a></li>
				{{/each}}
			</ul>
		</li>
		{{/each}}
	</ul>
</nav>

<main class="pad-a-xl styleguide" id="content" tabindex="0">
	<h1 [innerHTML]="section" class="pad-t-xl"></h1>

	{{#each sections}}
	<article *ngIf="checkSection('{{section}}')" class="mar-b-lg shadow-1 border-a-gray section">
		<section class="pad-a-sm border-b-gray bg-lt-gray">
			<h2 *ngIf="'{{heading}}'">{{heading}}</h2>
			{{{comment}}}
		</section>

		<section class="pad-a-sm border-b-gray">{{{code}}}</section>

		<figure><pre class="pad-a-sm">{{{markup}}}</pre></figure>
	</article>
	{{/each}}
</main>
