/* SG
# Alert

Alerts are styled with `.alert-*` classes.

```
<aside class="alert-bad" tabindex="-1" aria-labelledby="alert-text-1" role="alert">
	<p id="alert-text-1">bad</p>
</aside>
<aside class="alert-good" tabindex="-1" aria-labelledby="alert-text-2" role="alert">
	<p id="alert-text-2">good</p>
</aside>
<aside class="alert-info" tabindex="-1" aria-labelledby="alert-text-3" role="alert">
	<p id="alert-text-3">info</p>
</aside>
<aside class="alert-warn" tabindex="-1" aria-labelledby="alert-text-4" role="alert">
	<p id="alert-text-4">warn</p>
</aside>
```
*/

/* SG
# Alert/Close

Alerts can be closed by adding a `<button>` tag with a `.close` class in the alert.

```
<aside class="alert-good" tabindex="-1" aria-labelledby="alert-text-5" aria-describedby="close" role="alertdialog">
	<p id="alert-text-5">close</p>
	<button class="close" type="button" aria-label="close alert" id="close" autofocus>X</button>
</aside>
```
*/

// Alert styles
.alert-bad,
.alert-good,
.alert-info,
.alert-warn {
	@include row;

	color: color(white);
	padding: rem(8 16);

	& .close {
		margin-left: auto;
	}
}

.alert-bad {
	background-color: color(red);
}

.alert-good {
	background-color: color(dk-green);
}

.alert-info {
	background-color: color(dk-blue);
}

.alert-warn {
	background-color: color(yellow);
	color: color(lt-black);
}
