/* SG
# Form

Coming soon.

```
```
*/

// Form styles
.fieldset {
	border: rem(1) solid color(blue);
	padding: rem(6 10 12);
}

.form-group,
.field-group {
	@include row;

	align-items: center;
}

.form-group {
	margin: rem(-8);
}

.field-group {
	@include flex(1, 0, 0);

	padding: rem(8);
}

.form-label {
	@include flex(1, 0, 0);

	flex-basis: rem(90);
	font-size: $font-md;
	max-width: rem(140);
}

.form-field {
	@include animate(box-shadow);
	@include flex(1, 0, 0);

	background-color: color(lt-white);
	flex-basis: rem(230);
	padding: rem(40);

	&:not([multiple]):not(textarea) {
		height: rem(40);
	}

	&:focus {
		@include shadow(1, blue);

		border: rem(1) solid color(blue);
		padding: rem(7);
	}

	&[disabled],
	&.disabled {
		background-color: color(blue);
	}
}

select:not([multiple]).form-field {
	padding-left: rem(6);

	&:focus {
		padding-left: rem(7);
	}
}

select::-ms-value {
	background-color: color(lt-white);
	color: color(lt-black);
}

option {
	color: color(gray);
}

// Checkbox styles
input[type='checkbox'],
input[type='radio'] {
	margin-right: rem(16);
	vertical-align: middle;
}

.checkbox,
.radio {
	display: none;
}

.checkbox-group .checkbox,
.radio-group .radio {
	@include flex(1, 0, 0);

	flex-basis: 50%;
}

.checkbox-label::before,
.radio-label::before {
	content: '\00a0';

	background-color: color(lt-gray);
	display: inline-block;
	height: rem(16);
	margin-right: rem(6);
	vertical-align: middle;
	width: rem(16);
}

.radio-label::before {
	border-radius: 50%;
}

.checkbox:checked + .checkbox-label::before,
.radio:checked + .radio-label::before {
	background-color: color(blue);
	border: rem(2) solid color(lt-gray);
}

// Placeholder styles
::-webkit-input-placeholder {
	color: color(gray);
	opacity: 0.54;
}

:-ms-input-placeholder {
	color: color(gray);
}

::-moz-placeholder {
	color: color(gray);
	opacity: 1;
}

:-moz-placeholder {
	color: color(gray);
	opacity: 1;
}

// Validation styles
.form-label.required::after {
	content: '\2217';
	color: color(red);
}
