// Nav styles
.nav-left,
.nav-right {
	overflow-y: auto;
	width: auto;
}

.nav-top .nav-row,
.nav-bottom .nav-row,
.nav-item,
.nav-link {
	@include row;
}

.nav-top .nav-row,
.nav-bottom .nav-row,
.nav-item {
	display: block;

	@media screen and (min-width: $screen-md) {
		display: flex;
	}
}

.nav-item,
.nav-link {
	color: inherit;
	justify-content: center;
	text-align: center;
	text-decoration: none;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	@media screen and (min-width: $screen-md) {
		@include flex(1, 0, auto);
	}
}

.nav-left .nav-item,
.nav-left .nav-link,
.nav-right .nav-item,
.nav-right .nav-link {
	justify-content: flex-start;
}

.nav-link{
	padding: rem(16);
}

.nav-toggle {
	height: rem(40);
	position: relative;
	width: rem(40);	

	&::after {
		content: "";
		
		background-color: color(white);
		box-shadow: 0 6px 0 color(white), 0 12px 0 color(white);		
		height: rem(2);
		position: absolute;
		width: rem(24);
	}

	@media screen and (min-width: $screen-lg) {
		display: none;
	}
}
