// Position sytles
.fixed-b,
.fixed-l,
.fixed-r,
.fixed-t {
	position: fixed;
	z-index: 10;
}

.fixed-b,
.fixed-t {
	width: 100%;
}

.fixed-t {
	top: 0;
}

.fixed-r {
	right: 0;
}

.fixed-b {
	bottom: 0;
}

.fixed-l {
	left: 0;
}
