<nav class="pad-a-sm border-a-gray shadow-1 fixed-l styleguide-menu">
    <ul>
        <li>
            <a (click)="section = 'Alert'" [ngClass]="{'bg-lt-gray': section === 'Alert'}" class="hover bg-hover-lt-gray">Alert</a>
            
            <ul *ngIf="section === 'Alert'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Close'">
                    <a>Close</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Badge'" [ngClass]="{'bg-lt-gray': section === 'Badge'}" class="hover bg-hover-lt-gray">Badge</a>
            
            <ul *ngIf="section === 'Badge'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Button'" [ngClass]="{'bg-lt-gray': section === 'Button'}" class="hover bg-hover-lt-gray">Button</a>
            
            <ul *ngIf="section === 'Button'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Group'">
                    <a>Group</a>
                </li>
                <li *ngIf="'Rounded'">
                    <a>Rounded</a>
                </li>
                <li *ngIf="'States'">
                    <a>States</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Card'" [ngClass]="{'bg-lt-gray': section === 'Card'}" class="hover bg-hover-lt-gray">Card</a>
            
            <ul *ngIf="section === 'Card'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Collapsible'" [ngClass]="{'bg-lt-gray': section === 'Collapsible'}" class="hover bg-hover-lt-gray">Collapsible</a>
            
            <ul *ngIf="section === 'Collapsible'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Accordion'">
                    <a>Accordion</a>
                </li>
                <li *ngIf="'Collapse'">
                    <a>Collapse</a>
                </li>
                <li *ngIf="'Expand'">
                    <a>Expand</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Color'" [ngClass]="{'bg-lt-gray': section === 'Color'}" class="hover bg-hover-lt-gray">Color</a>
            
            <ul *ngIf="section === 'Color'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Background'">
                    <a>Background</a>
                </li>
                <li *ngIf="'Border'">
                    <a>Border</a>
                </li>
                <li *ngIf="'Contrast'">
                    <a>Contrast</a>
                </li>
                <li *ngIf="'Text'">
                    <a>Text</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Dropdown'" [ngClass]="{'bg-lt-gray': section === 'Dropdown'}" class="hover bg-hover-lt-gray">Dropdown</a>
            
            <ul *ngIf="section === 'Dropdown'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Flexbox'" [ngClass]="{'bg-lt-gray': section === 'Flexbox'}" class="hover bg-hover-lt-gray">Flexbox</a>
            
            <ul *ngIf="section === 'Flexbox'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Container'">
                    <a>Container</a>
                </li>
                <li *ngIf="'Container Alignment'">
                    <a>Container Alignment</a>
                </li>
                <li *ngIf="'Container Wrap'">
                    <a>Container Wrap</a>
                </li>
                <li *ngIf="'Item Alignment'">
                    <a>Item Alignment</a>
                </li>
                <li *ngIf="'Item Grow &amp; Shrink'">
                    <a>Item Grow &amp; Shrink</a>
                </li>
                <li *ngIf="'Item Order'">
                    <a>Item Order</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Form'" [ngClass]="{'bg-lt-gray': section === 'Form'}" class="hover bg-hover-lt-gray">Form</a>
            
            <ul *ngIf="section === 'Form'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Grid'" [ngClass]="{'bg-lt-gray': section === 'Grid'}" class="hover bg-hover-lt-gray">Grid</a>
            
            <ul *ngIf="section === 'Grid'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Layout'" [ngClass]="{'bg-lt-gray': section === 'Layout'}" class="hover bg-hover-lt-gray">Layout</a>
            
            <ul *ngIf="section === 'Layout'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Container'">
                    <a>Container</a>
                </li>
                <li *ngIf="'Sticky Footer'">
                    <a>Sticky Footer</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Modal'" [ngClass]="{'bg-lt-gray': section === 'Modal'}" class="hover bg-hover-lt-gray">Modal</a>
            
            <ul *ngIf="section === 'Modal'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Nav'" [ngClass]="{'bg-lt-gray': section === 'Nav'}" class="hover bg-hover-lt-gray">Nav</a>
            
            <ul *ngIf="section === 'Nav'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Items'">
                    <a>Items</a>
                </li>
                <li *ngIf="'Links'">
                    <a>Links</a>
                </li>
                <li *ngIf="'Placement'">
                    <a>Placement</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Position'" [ngClass]="{'bg-lt-gray': section === 'Position'}" class="hover bg-hover-lt-gray">Position</a>
            
            <ul *ngIf="section === 'Position'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Slider'" [ngClass]="{'bg-lt-gray': section === 'Slider'}" class="hover bg-hover-lt-gray">Slider</a>
            
            <ul *ngIf="section === 'Slider'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Slideshow'" [ngClass]="{'bg-lt-gray': section === 'Slideshow'}" class="hover bg-hover-lt-gray">Slideshow</a>
            
            <ul *ngIf="section === 'Slideshow'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Space'" [ngClass]="{'bg-lt-gray': section === 'Space'}" class="hover bg-hover-lt-gray">Space</a>
            
            <ul *ngIf="section === 'Space'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Margin'">
                    <a>Margin</a>
                </li>
                <li *ngIf="'Padding'">
                    <a>Padding</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Spinner'" [ngClass]="{'bg-lt-gray': section === 'Spinner'}" class="hover bg-hover-lt-gray">Spinner</a>
            
            <ul *ngIf="section === 'Spinner'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Switch'" [ngClass]="{'bg-lt-gray': section === 'Switch'}" class="hover bg-hover-lt-gray">Switch</a>
            
            <ul *ngIf="section === 'Switch'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Tab'" [ngClass]="{'bg-lt-gray': section === 'Tab'}" class="hover bg-hover-lt-gray">Tab</a>
            
            <ul *ngIf="section === 'Tab'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Table'" [ngClass]="{'bg-lt-gray': section === 'Table'}" class="hover bg-hover-lt-gray">Table</a>
            
            <ul *ngIf="section === 'Table'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Border'">
                    <a>Border</a>
                </li>
                <li *ngIf="'Hover'">
                    <a>Hover</a>
                </li>
                <li *ngIf="'Striped'">
                    <a>Striped</a>
                </li>
                <li *ngIf="'Table Cell'">
                    <a>Table Cell</a>
                </li>
                <li *ngIf="'Table Row'">
                    <a>Table Row</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Tooltip'" [ngClass]="{'bg-lt-gray': section === 'Tooltip'}" class="hover bg-hover-lt-gray">Tooltip</a>
            
            <ul *ngIf="section === 'Tooltip'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Typography'" [ngClass]="{'bg-lt-gray': section === 'Typography'}" class="hover bg-hover-lt-gray">Typography</a>
            
            <ul *ngIf="section === 'Typography'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Font'">
                    <a>Font</a>
                </li>
                <li *ngIf="'Text'">
                    <a>Text</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="section = 'Visibility'" [ngClass]="{'bg-lt-gray': section === 'Visibility'}" class="hover bg-hover-lt-gray">Visibility</a>
            
            <ul *ngIf="section === 'Visibility'" class="pad-l-sm submenu">
                <li *ngIf="''">
                    <a></a>
                </li>
                <li *ngIf="'Hide'">
                    <a>Hide</a>
                </li>
                <li *ngIf="'Show'">
                    <a>Show</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<main class="pad-a-xl styleguide">
    <h1 [innerHTML]="section" class="pad-t-xl"></h1>

    <section *ngIf="section === 'Alert'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Alerts are styled with <code>.alert-*</code> classes.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><aside class="alert-bad" tabindex="-1" aria-labelledby="alert-text-1" role="alert">
    <p id="alert-text-1">bad</p>
</aside>
<aside class="alert-good" tabindex="-1" aria-labelledby="alert-text-2" role="alert">
    <p id="alert-text-2">good</p>
</aside>
<aside class="alert-info" tabindex="-1" aria-labelledby="alert-text-3" role="alert">
    <p id="alert-text-3">info</p>
</aside>
<aside class="alert-warn" tabindex="-1" aria-labelledby="alert-text-4" role="alert">
    <p id="alert-text-4">warn</p>
</aside></aside>

        <figure>
            <pre class="pad-a-sm"><span class="hljs-tag">&lt;<span class="hljs-title">aside</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"alert-bad"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">aria-labelledby</span>=<span class="hljs-value">"alert-text-1"</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">"alert"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"alert-text-1"</span>&gt;</span>bad<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">aside</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">aside</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"alert-good"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">aria-labelledby</span>=<span class="hljs-value">"alert-text-2"</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">"alert"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"alert-text-2"</span>&gt;</span>good<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">aside</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">aside</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"alert-info"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">aria-labelledby</span>=<span class="hljs-value">"alert-text-3"</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">"alert"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"alert-text-3"</span>&gt;</span>info<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">aside</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">aside</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"alert-warn"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">aria-labelledby</span>=<span class="hljs-value">"alert-text-4"</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">"alert"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"alert-text-4"</span>&gt;</span>warn<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">aside</span>&gt;</span></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Alert'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Close'">Close</h2>
            <p>Alerts can be closed by adding a <code>&lt;button&gt;</code> tag with a <code>.close</code> class in the alert.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><aside class="alert-good" tabindex="-1" aria-labelledby="alert-text-5" aria-describedby="close" role="alertdialog">
    <p id="alert-text-5">close</p>
    <button class="close" type="button" aria-label="close alert" id="close" autofocus>X</button>
</aside></aside>

        <figure>
            <pre class="pad-a-sm"><span class="hljs-tag">&lt;<span class="hljs-title">aside</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"alert-good"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">aria-labelledby</span>=<span class="hljs-value">"alert-text-5"</span> <span class="hljs-attribute">aria-describedby</span>=<span class="hljs-value">"close"</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">"alertdialog"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"alert-text-5"</span>&gt;</span>close<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"close"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"button"</span> <span class="hljs-attribute">aria-label</span>=<span class="hljs-value">"close alert"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"close"</span> <span class="hljs-attribute">autofocus</span>&gt;</span>X<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">aside</span>&gt;</span></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Badge'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Badges are styled with <code>.badge-*</code> classes.  If a badge does not contain text, it is not rendered.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><p class="badge-sm bg-dk-blue text-white">1</p>
<p class="badge-md bg-dk-blue text-white">20</p>
<p class="badge-lg bg-dk-blue text-white">300</p>
<p class="badge-md bg-dk-blue text-white"></p></aside>

        <figure>
            <pre class="pad-a-sm"><span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"badge-sm bg-dk-blue text-white"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"badge-md bg-dk-blue text-white"</span>&gt;</span>20<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"badge-lg bg-dk-blue text-white"</span>&gt;</span>300<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"badge-md bg-dk-blue text-white"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Button'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Buttons are styled with <code>.btn-*</code> classes.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><button class="btn-xs bg-dk-blue text-white bg-hover-blue" type="button">xs</button>
<button class="btn-sm bg-dk-blue text-white bg-hover-blue" type="button">sm</button>
<button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
<button class="btn-lg bg-dk-blue text-white bg-hover-blue" type="button">lg</button>
<button class="btn-xl bg-dk-blue text-white bg-hover-blue" type="button">xl</button>
<button class="btn-full bg-dk-blue text-white bg-hover-blue" type="button">full</button></aside>

        <figure>
            <pre class="pad-a-sm">&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-xs bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;xs&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-sm bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;sm&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-lg bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;lg&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-xl bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;xl&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-full bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;full&lt;/button&gt;</pre>
        </figure>
    </section>
    <section *ngIf="section === 'Button'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Group'">Group</h2>
            <p>Buttons can be grouped with <code>.btn-group-*</code> classes.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><section class="btn-group-row" role="group" aria-label="button row group">
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
</section>
<section class="btn-group-col" role="group" aria-label="button column group">
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
</section>
<section class="btn-group-full" role="group" aria-label="button full row group">
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
    <button class="btn-md bg-dk-blue text-white bg-hover-blue" type="button">md</button>
</section></aside>

        <figure>
            <pre class="pad-a-sm">&lt;section <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-group-row"</span> role=<span class="hljs-string">"group"</span> aria-label=<span class="hljs-string">"button row group"</span>&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
&lt;/section&gt;
&lt;section <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-group-col"</span> role=<span class="hljs-string">"group"</span> aria-label=<span class="hljs-string">"button column group"</span>&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
&lt;/section&gt;
&lt;section <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-group-full"</span> role=<span class="hljs-string">"group"</span> aria-label=<span class="hljs-string">"button full row group"</span>&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
&lt;/section&gt;</pre>
        </figure>
    </section>
    <section *ngIf="section === 'Button'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Rounded'">Rounded</h2>
            <p>Buttons can be rounded with the <code>.rounded</code> class.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><button class="btn-xs rounded bg-dk-blue text-white bg-hover-blue" type="button">xs</button>
<button class="btn-sm rounded bg-dk-blue text-white bg-hover-blue" type="button">sm</button>
<button class="btn-md rounded bg-dk-blue text-white bg-hover-blue" type="button">md</button>
<button class="btn-lg rounded bg-dk-blue text-white bg-hover-blue" type="button">lg</button>
<button class="btn-xl rounded bg-dk-blue text-white bg-hover-blue" type="button">xl</button>
<button class="btn-full rounded bg-dk-blue text-white bg-hover-blue" type="button">full</button></aside>

        <figure>
            <pre class="pad-a-sm">&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-xs rounded bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;xs&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-sm rounded bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;sm&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md rounded bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;md&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-lg rounded bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;lg&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-xl rounded bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;xl&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-full rounded bg-dk-blue text-white bg-hover-blue"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;full&lt;/button&gt;</pre>
        </figure>
    </section>
    <section *ngIf="section === 'Button'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'States'">States</h2>
            <p>Buttons can be disabled with the <code>disabled</code> attribute or <code>.disabled</code> class.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><button class="btn-md" type="button" disabled>disabled</button>
<button class="btn-md disabled" type="button">disabled</button></aside>

        <figure>
            <pre class="pad-a-sm">&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span> disabled&gt;disabled&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"btn-md disabled"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span>&gt;disabled&lt;/button&gt;</pre>
        </figure>
    </section>
    <section *ngIf="section === 'Card'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Cards are styled with <code>.cards</code> and <code>.card</code> classes.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><section class="card">
    <p class="card-text">card</p>
</section>
<section class="card">
    <p class="card-text">card</p>
</section>
<section class="card">
    <p class="card-text">card</p>
</section></aside>

        <figure>
            <pre class="pad-a-sm"><span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"card"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"card-text"</span>&gt;</span>card<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"card"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"card-text"</span>&gt;</span>card<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">section</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"card"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"card-text"</span>&gt;</span>card<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">section</span>&gt;</span></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Collapsible'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Collapsible'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Accordion'">Accordion</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Collapsible'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Collapse'">Collapse</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Collapsible'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Expand'">Expand</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Color'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Color'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Background'">Background</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Color'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Border'">Border</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Color'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Contrast'">Contrast</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Color'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Text'">Text</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Dropdown'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Flexbox'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Flexbox'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Container'">Container</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Flexbox'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Container Alignment'">Container Alignment</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Flexbox'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Container Wrap'">Container Wrap</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Flexbox'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Item Alignment'">Item Alignment</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Flexbox'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Item Grow &amp; Shrink'">Item Grow &amp; Shrink</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Flexbox'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Item Order'">Item Order</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Form'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Grid'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Layout'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Layout'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Container'">Container</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Layout'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Sticky Footer'">Sticky Footer</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Modal'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Nav'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Nav'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Items'">Items</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Nav'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Links'">Links</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Nav'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Placement'">Placement</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Position'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Slider'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Slideshow'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Space'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Space'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Margin'">Margin</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Space'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Padding'">Padding</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Spinner'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>You may add spinners by adding a <code>spinner</code> class.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"><p class="spinner"></p>
<p class="spinner-dotted"></p></aside>

        <figure>
            <pre class="pad-a-sm"><span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"spinner"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"spinner-dotted"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Switch'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Tab'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Table'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Table'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Border'">Border</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Table'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Hover'">Hover</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Table'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Striped'">Striped</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Table'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Table Cell'">Table Cell</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Table'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Table Row'">Table Row</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Tooltip'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Typography'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Typography'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Font'">Font</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Typography'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Text'">Text</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Visibility'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="''"></h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Visibility'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Hide'">Hide</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
    <section *ngIf="section === 'Visibility'" class="mar-b-lg shadow-1 border-a-gray section">
        <article class="pad-a-sm border-b-gray bg-lt-gray">
            <h2 *ngIf="'Show'">Show</h2>
            <p>Coming soon.</p>
        </article>

        <aside class="pad-a-sm border-b-gray"></aside>

        <figure>
            <pre class="pad-a-sm"></pre>
        </figure>
    </section>
</main>
