.styleguide {
	margin-left: 14rem;
}

.styleguide .hljs-attribute {
	color: #954121;
}

.styleguide-menu {
	left: 2rem;
	top: 2rem;
	width: 12rem;
}

.styleguide code {
	color: #6a0080;
}

.styleguide pre {
	color: #000080;
}

.styleguide code,
.styleguide pre {
	font-size: .875rem;
}

.styleguide .section {
	min-width: 15rem;
}
